fastapi
sqlalchemy 
python-dotenv 
uvicorn 
psycopg2-binary
gunicorn 
python-multipart 
pydantic[all] 
pydantic==1.10.8
email-validator 
passlib 
bcrypt
pydub==0.25.1
numpy
requests
starlette==0.19.1
starlette-context==0.3.5
python-jose==3.3.0
boto3
openai
chardet
python-docx
redis
rq